@import url("https://fonts.googleapis.com/css?family=Kanit");
@import url("https://fonts.googleapis.com/css?family=Bona Nova");
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Adjust the z-index value based on your layout */
}
.admindashoardh2 {
  margin-top: 40px;
  font-family: 'Kanit';
  font-size: 40px;
  font-weight: bold;
}
.adminsearch{
  width:350px;
}

.slot-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.slot-table th,
.slot-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.slot-table th {
  background-color: #f2f2f2;
}

.slot-table tr:hover {
  background-color: #f5f5f5;
}

.slot-table button {
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.tableCellStyle{
  border: 1px solid #ddd;
  background-color: white;
  opacity: 0.7;
  padding: 12px;
  text-align: left;
  font-family: 'Bona Nova';
  font-size: 17px;
  color: black;
}
.deletebtn{
  background-color: rgb(181, 32, 47);
}